:root {
  --btn-bg: #1d6165dd;
  --btn-bg-hv: #1d6165;
  --btn-c: #ffffffbb;
  --btn-c-hv: #fefefedd;  
  --dm-btn-bg: #2b989e00;
  --dm-btn-bg-hv: #39b9c0bb;
  --dm-btn-c: #ffffffbb;
  --dm-btn-c-hv: #fefefedd;
  --logo-c: #0e607e;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  max-width: 100%;
}

.welcome {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url('../public/images/aron-visuals-bZZp1PmHI0E-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.welcome-text {
  z-index: 99;
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 200px;
  justify-content: space-around;
  align-items: center;
  font-size: 300%;
  font-weight: 800;
  color:rgba(17, 91, 228, 0.801);

}

.logged-out-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 2em;
  color: rgb(65, 121, 224);
  font-size: 2em;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.logged-in-as {
  width: auto;
  height: 30px;
  border-radius: 0.4em;
  padding: 0em 0em 0.1em 0.4em;
  background-color: rgb(115, 154, 228);
  color: white;
  font-size: 1em;
}


.searchbar-button {
  border-radius: 0.4em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin-top: 0.4em;
  width: auto;
  background-color: var(--btn-bg);
  font-weight: 500;
  font-size: 1.3em;
  color: white;
}

.searchbar-button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: auto;
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  color: white;
}

.button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.lrg-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: auto;
  padding: 0.2em 0.4em 0.3em 0.4em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  font-size: 180%;
  color: white;
}

.lrg-button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.caution-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: auto;
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: rgb(112, 8, 8);
  font-weight: 600;
  color: white;
}

.caution-button:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: 9em;
  gap: 0.2em;
  padding: 0em 0em 0.4em 0em;
  background-color: rgba(115, 154, 228, 0.473);
  font-weight: 600;
  color: white;
}

form:hover {
  background-color: rgb(115, 154, 228);
}

.add-form {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-radius: 0%;
  border: none;
  background-color: white;
  font-size: x-large;
}

.searchbar:hover {
  background-color: white;
}

.searchbar-input {
  width: 50%;
  height: 1.5em;
  margin: 0.5em 0.5em 0em 0.5em;
  font-size: x-large;
  font-weight: 700;
  background-color: #ffffff;
}

.edit-form {
  width: 100%;
}

label {
  color: black;
  font-weight: 500;
}

.form-label {
  background-color: rgb(65, 121, 224);
  width: 100%;
  border-radius: 0.4em 0.4em 0em 0em;
  margin-bottom: 0.4em;
  padding-bottom: 0.3em;
  color: white;
  font-weight: 700;
  font-size: x-large;
}


input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: 70%;
  height: 2em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: white;
  font-weight: 600;
  font-size: 43%;
  color: black;
}

.add-input {
  height: 23px;
  font-size: 100%;
}

input:hover {
  background-color: rgb(233, 233, 233);
}

.form-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: 74%;
  height: 2em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  font-size: 50%;
  color: white;
}

.form-button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.add-form-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: 74%;
  height: 2em;
  margin-top: 0.3em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  font-size: 100%;
  color: white;
}

.form-error {
  font-size: large;
  font-weight: 700;
  color: rgb(163, 4, 4);
}

