.App {
  text-align: center;
  background-color: linear-gradient(20deg,#61dafb, #beffee);
}

.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0px 1px 9px 0px grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0.3em 20px 0 0;
  margin: 0px;
  font-size: 120%;
  font-weight: 500;
}

.logo {
  margin: -9px 0 0 0;
  height: 50px;
  padding: 4px 20px 5px 20px;
  font-size: 190%;
  font-weight: 700;
  color: rgb(17, 91, 228);
}

.welcome {
  z-index: 99;
  width: 100%;
  height: 54vh;
  overflow: hidden;
  margin: 0px;
  opacity: 0.5;
}

.welcome-text {
  z-index: 99;
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 200px;
  justify-content: space-around;
  align-items: center;
  font-size: 300%;
  font-weight: 800;
  color:rgba(17, 91, 228, 0.801);

}

.menu-items {
  display: flex;
  flex-direction: row;
  padding-right: 40px;
  gap: 0.5em;
}

.logged-out-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 2em;
  font-size: 200%;
  font-weight: 500;
  color: rgb(65, 121, 224);
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

.logged-in-as {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  padding: 0em 0em 0.1em 0.4em;
  width: auto;
  height: 30px;
  background-color: rgb(115, 154, 228);
  font-weight: 500;
  font-size: 100%;
  color: white;
}
.nav-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  width: auto;
  background-color: rgb(65, 121, 224);
  font-weight: 500;
  font-size: 100%;
  color: white;
}

.nav-button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: auto;
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  color: white;
}

.button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.lrg-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: auto;
  padding: 0.2em 0.4em 0.3em 0.4em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  font-size: 180%;
  color: white;
}

.lrg-button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.caution-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: auto;
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: rgb(112, 8, 8);
  font-weight: 600;
  color: white;
}

.caution-button:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: 9em;
  gap: 0.2em;
  padding: 0em 0em 0.4em 0em;
  background-color: rgba(115, 154, 228, 0.473);
  font-weight: 600;
  color: white;
}

form:hover {
  background-color: rgb(115, 154, 228);
}

.add-form {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-form {
  width: 100%;
}

label {
  color: black;
  font-weight: 500;
}

.form-label {
  background-color: rgb(65, 121, 224);
  width: 100%;
  border-radius: 0.4em 0.4em 0em 0em;
  margin-bottom: 0.4em;
  padding-bottom: 0.3em;
  color: white;
  font-weight: 700;
  font-size: x-large;
}



input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: 70%;
  height: 2em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: white;
  font-weight: 600;
  font-size: 43%;
  color: black;
}

.add-input {
  height: 23px;
  font-size: 100%;
}

input:hover {
  background-color: rgb(233, 233, 233);
}

.form-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: 74%;
  height: 2em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  font-size: 50%;
  color: white;
}

.form-button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.add-form-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: 74%;
  height: 2em;
  margin-top: 0.3em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  font-size: 100%;
  color: white;
}

.form-error {
  font-size: large;
  font-weight: 700;
  color: rgb(163, 4, 4);
}

