:root {
  /* color pallet */
  --mr-blue: #375F68;
  --mr-green: #4F9D69;
  --mr-white: #F0F4EF;
  --mr-orange: #F49D37;
  --mr-red: #880D1E;


  /* elements */
  --btn-bg: #1d6165dd;
  --btn-bg-hv: #1d6165;
  --btn-c: #ffffffbb;
  --btn-c-hv: #fefefedd;  
  --dm-btn-bg: #2b989e00;
  --dm-btn-bg-hv: #39b9c0bb;
  --dm-btn-c: #ffffffbb;
  --dm-btn-c-hv: #fefefedd;
  --logo-c: #0e607e;
  --logo-shadow: #0e607ebb;
  --nav-bs: #185d85;
  --dropdown-bg: rgb(23, 42, 65);
  --form-bg: #1d6165;
  --menu-bg: rgb(23, 42, 65);
  --btn-confirm-bg: var(--mr-green);
  --btn-discard-bg: var(--mr-red);
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100vw;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* form/label/input/.form-button default styling */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--form-bg);
  color: white;
  border: 2px solid var(--mr-orange);
  border-radius: 7px;
  padding: 1.2em;
  text-align: center;
  z-index: 1000;
}

input,
section.buttons > button,
form > button {
  height: 2em;
  margin: 1em;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 2px;
}
input {
  width: 98%;
  padding-left: 2%;
}
section.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
button.confirm,
button.discard,
section.buttons > button,
form > button {
  border: none;
  background-color: #F49D37;
  font-weight: bold;
  opacity: .7;
}
button.confirm:hover,
button.discard:hover,
form > button:hover {
  opacity: 1;
  box-shadow: 2px 2px 4px #00000099;
}

section.buttons > button {
  width: 48%;
  margin: 0;
}
section.buttons > button.confirm {
  margin-right: 4%;
}
button.confirm:hover {
  background-color: var(--btn-confirm-bg);
}
button.discard:hover {
  background-color: var(--btn-discard-bg);
}


form > label {
  width: 100%;
  text-align: start;
}

form .form-label {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  padding-bottom: .4em;
  margin-bottom: 1em;
  border-bottom: 2px solid white;
}

.welcome-fade-in {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: black;
  z-index: 1000;
  opacity: 1;
  /* animation: 5s fade-in linear forwards; */
  color: white;
}
@keyframes fade-in {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
  }
}

.home-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url('../public/images/aron-visuals-bZZp1PmHI0E-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

/* modify this to replace the background around 'welcome'/'login'/'register' components and morph(animate) smoothly between shapes */
.home-morph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: var(--logo-c);
  border-radius: 7px;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--logo-c);
}
.welcome > h1:hover {
  text-shadow: 3px 3px 6px var(--nav-bs);
  transform: translate(0px, -2px);
  transition: transform 500ms;
  cursor: none;
}

.logged-out-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 2em;
  color: rgb(65, 121, 224);
  font-size: 2em;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}
.view.dm {
  background-image: url('https://images.unsplash.com/photo-1457694587812-e8bf29a43845?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
  background-size: cover;
  background-position: center;
}


.searchbar-button {
  border-radius: 0.4em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin-top: 0.4em;
  width: auto;
  background-color: var(--btn-bg);
  font-weight: 500;
  font-size: 1.3em;
  color: white;
}

.searchbar-button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.button {
  width: 6em;
  background-color: var(--btn-bg);
}

.button:hover {
  background-color: var(--btn-bg-hv);
  cursor: pointer;
  color: white;
}

.lrg-button {
  border: rgb(100, 13, 214);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4em;
  width: auto;
  padding: 0.2em 0.4em 0.3em 0.4em;
  background-color: rgb(65, 121, 224);
  font-weight: 600;
  font-size: 180%;
  color: white;
}

.lrg-button:hover {
  background-color: rgb(27, 90, 207);
  cursor: pointer;
  color: white;
}

.caution-button {
  border-radius: 7px;
  width: auto;
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: rgb(112, 8, 8);
  font-weight: 600;
  color: white;
}

.caution-button:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}

.add-form {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-radius: 0%;
  border: none;
  background-color: white;
  font-size: x-large;
}

.searchbar:hover {
  background-color: white;
}

.searchbar-input {
  width: 50%;
  height: 1.5em;
  margin: 0.5em 0.5em 0em 0.5em;
  font-size: x-large;
  font-weight: 700;
  background-color: #ffffff;
}


.form-error {
  font-size: large;
  font-weight: 700;
  color: rgb(79, 22, 22);
}

