.nav-btn {
  min-width: 7em;
  height: 100%;
  background-color: var(--btn-bg);
  color: var(--btn-c);
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  transition: all 300ms;
}
.nav-btn.dm {
  background-color: var(--dm-btn-bg);
  color: var(--dm-btn-c);
}

.nav-btn:hover {
  cursor: pointer;
  color: var(--btn-c-hv);
}
.nav-btn.dm:hover {
  font-size: 1.3em;
  color: var(--dm-btn-c-hv);
}