div.logReg.active {
  display: block;
}
div.close-logReg {
  visibility: hidden;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 90vh;
  z-index: -1;
}
div.close-logReg.active {
  visibility: visible;
}


/* form/label/input default styling in App.css */


.go-to-login,
.go-to-register {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
}
.go-to-login:hover,
.go-to-register:hover {
  color: #F49D37;
  font-weight: bolder;
  cursor: pointer;
}