header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1000;
}
header .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0.3em 20px 0 0;
  margin: 0px;
  font-size: 1.2em;
  font-weight: 500;
  transition: all 300ms;
}
header .navbar.dm:hover {
  border-bottom: 2px solid var(--mr-orange);
}

.logo {
  margin: -9px 0 0 0;
  height: 10vh;
  padding: 4px 20px 5px 20px;
  font-size: 3em;
  font-weight: bold;
  color: var(--logo-c);
  text-shadow: 4px 4px 0 gray,
               3.5px 3.5px 0 gray,
               3px 3px 0 gray,
               2.5px 2.5px 0 gray,
               2px 2px 0 gray,
               1.5px 1.5px 0 gray,
               1px 1px 0 gray,
               0.5px 0.5px gray;
}
.logo:hover {
  cursor: pointer;
}

.menu-items {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.logged-in-as {
  position: relative;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-c);
  padding: 0 1em;
}

.logged-in-as .avatar img {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  opacity: .8;
  user-select: none;
  transition: all 300ms;
}
.logged-in-as .avatar img:hover {
  transform: scale(1.2);
  border: 2px solid var(--mr-orange);
  opacity: .9;
}

div.avatar-dropdown {
  position: absolute;
  top: 100%;
  right: 30%;
  width: 20vw;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dropdown-bg);
  color: var(--nav);
  border: 2px solid var(--mr-orange);
  border-radius: 7px;
  user-select: none;
}
div.avatar-dropdown ul {
  width: 100%;
}
div.avatar-dropdown ul li > button {
  width: 100%;
  padding: 1em 1em;
}

div.avatar-dropdown.active {
  display: block;
}
div.close-addForm,
div.close-dropdown {
  display: none;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 90vh;
  z-index: -1;
}
div.close-addForm.active,
div.close-dropdown.active {
  display: block;
}

.connect {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: .3em;
}

.connect section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: .5em;
}
.connect .dev {
  position: absolute;
  bottom: 1.2em;
  left: 0;
  width: 100%;
  height: 2.2em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: .7em;
  background-color: rgb(23, 69, 53);
  border-radius: 0 0 7px 7px;
  padding: .3em 0;
  z-index: -1;
  transition: all 500ms;
}
.connect:hover {
  background-color: rgb(23, 69, 53);
}
.connect:hover .dev {
  bottom: -1.7em;
  background-color: rgb(23, 69, 53);
}

#dragon-breath {
  visibility: collapse;
  position: absolute;
  bottom: 41.5%;
  left: 24%;
  transform: rotate(120deg);
  color: orange;
  font-size: 40%;
}
.dragon-dungon:hover {
  color: firebrick;
  transition: color 200ms;
}
.dragon-dungon:hover #dragon-breath {
  visibility: visible;
}
@keyframes firebreath {
  from {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.git:hover {
  width: auto;
  color: gray;
}
.li:hover {
  width: auto;
  color: blue;
}
.ig:hover {
  width: auto;
  color: rebeccapurple;
}