.receipt-list {
  margin-top: 10px;
  width: 100%;
  gap: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

/* .receipt-list:hover {
  box-shadow: 0 3px 9px 0 grey;
} */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-right: 3em;
  list-style-type: none;
}